.menu {
    width: 25%;
    float: left;
}

#Menu1 ul>li>a{
    margin-bottom: 5px;
}

div#Menu1 a.level1 {
    background-color: white !important;
    border: none !important;
}

.content {
    width: 65%;
    float: left;
}

.item {
    margin: 5px;
    padding: 15px;
    border: 2px solid blue;
    background-color: aquamarine;
}

.sub-item {
    margin: 5px;
    margin-left: 25px;
    padding: 10px;
    border: 1px solid blue;
    background-color: aliceblue;
}

    .sub-item > i,
    .item > i {
        color: rgb(210, 52, 148);
        font-weight: bold;
    }
